<h1>Editing product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :productname %><br />
    <%= f.text_field :productname %>
  </p>
  <p>
    <%= f.label :productdesc %><br />
    <%= f.text_area :productdesc %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>